<!doctype html>
<html lang="<%= site.language %>">
  <head>
    <%- await include('./head', { title: title, description: description }) %>
  </head>
  <body class="lab-site lab-site--github">
    <%- await include('./header', { site: site, navigation: navigation }) %>
    <main>
      <%- body %>
    </main>
    <%- await include('./footer', { site: site }) %>
    <%- await include('./mobile-drawer', { navigation: navigation }) %>
    <button class="lab-back-to-top" data-back-to-top type="button" aria-label="回到頁面上方">↑</button>
    <script type="module" src="/_assets/entry.js"></script>
  </body>
</html>
